.project-card {
  position: relative;
  overflow: hidden;
}

/* Overlay container */
.card-overlay {
  position: absolute;
  inset: 0;
  background: rgba(7, 7, 7, 0.55);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  opacity: 0;
  transition: opacity 0.35s ease;
  text-align: center;
  padding: 1rem;
  z-index: 2;
}

/* Overlay icon */
.overlay-icon {
  font-size: 0.8rem;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.9rem;
  border-radius: 50%;
}

/* Overlay text */
.card-overlay p {
  color: rgb(252, 251, 251);
  font-size: 0.85rem;
  line-height: 1.4;
  max-width: 90%;
  font-weight: 500;
}

/* Hover activation */
.project-card:hover .card-overlay {
  opacity: 1;
  
}
a{
    text-decoration: none;
}